header {
  height: 45%;
  width: 100%;
  min-width: 700px; }
  header #main_image {
    height: 100%;
    width: 100%; }
    header #main_image img.main_twice {
      width: 100%;
      height: 100%; }

#members_list {
  height: 10%;
  width: 100%;
  min-width: 700px; }
  #members_list ul {
    padding: 0;
    height: 100%;
    justify-content: center;
    align-content: center;
    margin: 0; }
    #members_list ul li.btn {
      list-style: none;
      float: left;
      width: 11.11111%;
      transition: 0.5s;
      background-size: 200% auto;
      box-shadow: 0 0 20px #eee;
      float: 0;
      padding: 0;
      box-sizing: border-box;
      height: 100%;
      border-color: white;
      position: relative; }
      #members_list ul li.btn > a.text_to_link {
        position: absolute;
        text-decoration: none;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vw;
        text-align: center; }
    #members_list ul .btn:hover {
      background-position: right center;
      /* change the direction of the change here */ }
    #members_list ul .btn-1 {
      background-image: linear-gradient(to left, #f6d365 0%, #fda085 51%, #f6d365 100%); }
    #members_list ul .btn-2 {
      background-image: linear-gradient(to left, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); }
    #members_list ul .btn-3 {
      background-image: linear-gradient(to left, #84fab0 0%, #8fd3f4 51%, #84fab0 100%); }
    #members_list ul .btn-4 {
      background-image: linear-gradient(to left, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%); }
    #members_list ul .btn-5 {
      background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%); }
    #members_list ul .btn-6 {
      background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%); }
    #members_list ul .btn-7 {
      background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%); }
    #members_list ul .btn-8 {
      background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); }
    #members_list ul .btn-9 {
      background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%); }

#albums {
  width: 100%;
  height: 800px;
  min-width: 700px;
  background-color: #F5DEE8;
  background-size: 100% 100%;
  border-bottom: 3px solid white; }
  #albums > div#album_wrap {
    height: 100%;
    width: 50%;
    margin: 0 auto; }
    #albums > div#album_wrap ul.album_list {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0; }
      #albums > div#album_wrap ul.album_list li {
        float: left;
        list-style: none;
        width: 40%; }
      #albums > div#album_wrap ul.album_list .album {
        height: 180px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 10px 5%; }
      #albums > div#album_wrap ul.album_list .album_info {
        height: 190px;
        margin: 5px 5%; }
        #albums > div#album_wrap ul.album_list .album_info > ul.title_list {
          padding: 0;
          width: 100%;
          height: 100%;
          display: inline-block;
          background: transparent; }
          #albums > div#album_wrap ul.album_list .album_info > ul.title_list li {
            box-sizing: content-box;
            width: 100%;
            font-size: 1.2vw;
            padding: 0; }
            #albums > div#album_wrap ul.album_list .album_info > ul.title_list li > #album_name {
              padding: 0;
              margin-top: 0;
              text-align: center; }
          #albums > div#album_wrap ul.album_list .album_info > ul.title_list .album_1 {
            height: 27.14286px; }
          #albums > div#album_wrap ul.album_list .album_info > ul.title_list .album_2 {
            height: 23.75px; }
          #albums > div#album_wrap ul.album_list .album_info > ul.title_list .album_3 {
            height: 23.75px; }
          #albums > div#album_wrap ul.album_list .album_info > ul.title_list .album_4 {
            height: 17.27273px; }
    #albums > div#album_wrap #background_1 {
      background-image: url("../images/twice_background_1.jpg"); }
    #albums > div#album_wrap #background_2 {
      background-image: url("../images/twice_background_2.jpeg"); }
    #albums > div#album_wrap #background_3 {
      background-image: url("../images/twice_background_3.jpg"); }
    #albums > div#album_wrap #background_4 {
      background-image: url("../images/twice_background_4.jpg"); }

.contents_container {
  min-width: 700px;
  width: 100%;
  height: 1070px;
  background-color: #E0C5EF; }
  .contents_container div.youtube_header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #E0C5EF;
    font-size: 35px;
    text-align: center; }
    .contents_container div.youtube_header span {
      margin: 0;
      padding: 0; }
  .contents_container ul.video_list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 90%; }
    .contents_container ul.video_list li.video_item {
      float: left;
      width: 50%;
      height: 340px; }
      .contents_container ul.video_list li.video_item div.item_content {
        height: 25px;
        text-align: center;
        overflow: hidden;
        font-size: 14px;
        border: 2px solid white;
        box-sizing: border-box;
        background-color: #E0C5EF; }
        .contents_container ul.video_list li.video_item div.item_content a.item_title {
          text-decoration: none;
          color: white; }
