@import "variables";

header {
  height: 45%;
  width: 100%;
  min-width: 700px;

  #main_image {
    height: 100%;
    width: 100%;
    // background-image: url("../images/twice_main.jpg");
    // background-repeat: no-repeat;
    // background-size: 100% 100%;

    img.main_twice {
      width: 100%;
      height: 100%;
    }
  }
}

#members_list {
  height: 10%;
  width: 100%;
  min-width: 700px;
  // display: flex;

  ul {
    padding: 0;
    height: 100%;
    justify-content: center;
    // align-items: center;
    align-content: center;
    // flex-wrap: wrap;
    margin: 0;

    li.btn {
      list-style: none;
      float: left;
      width: (100% / 9);
      // line-height: 180%;
      transition: 0.5s;
      background-size: 200% auto;
      box-shadow: 0 0 20px #eee;
      float: 0;
      padding: 0;
      box-sizing: border-box;
      height: 100%;
      border-color: white;
      position: relative;

      > a.text_to_link {
        position: absolute;
        text-decoration: none;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vw;
        text-align: center;
      }
    }

    .btn:hover {
      background-position: right center; /* change the direction of the change here */
    }

    .btn-1 {
      background-image: linear-gradient(to left, #f6d365 0%, #fda085 51%, #f6d365 100%);
    }

    .btn-2 {
      background-image: linear-gradient(to left, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    }

    .btn-3 {
      background-image: linear-gradient(to left, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    }

    .btn-4 {
      background-image: linear-gradient(to left, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    }

    .btn-5 {
      background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
    }

    .btn-6 {
      background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    }

    .btn-7 {
      background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    }

    .btn-8 {
      background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    }

    .btn-9 {
      background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    }
  }
}

#albums {
  width: 100%;
  height: 800px;
  min-width: 700px;
  background-color: white;
  // background-image: url("../images/twice_album_background.jpeg");
  background-size: 100% 100%;
  border-bottom: 3px solid white;

  > div#album_wrap {

    height: 100%;
    width: 50%;
    margin: 0 auto;

    ul.album_list {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;

      li {
        float: left;
        list-style: none;
        width: (80% / 2);

      }

      .album {
        height: 180px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 10px 5%;
      }

      .album_info {
        // background-color: white;
        height: 190px;
        margin: 5px 5%;

        > ul.title_list {
          padding: 0;
          width: 100%;
          height: 100%;
          display: inline-block;
          background: transparent;

          li {
            box-sizing: content-box;
            width: 100%;
            font-size: 1.2vw;
            padding: 0;

            > #album_name {
              padding: 0;
              margin-top: 0;
              // margin-bottom: 0.5px;
              text-align: center;
            }
          }

          .album_1 {
            // margin-bottom: 3px;
            height: (190px/7);
          }

          .album_2 {
            // margin-bottom: 2px;
            height: (190px/8);
          }

          .album_3 {
            // margin-bottom: 2px;
            height: (190px/8);
          }

          .album_4 {
            // margin-bottom: 0;
            height: (190px/11);
          }
        }
      }
    }

    #background_1 {
      background-image: url("../images/twice_background_1.jpg");
    }

    #background_2 {
      background-image: url("../images/twice_background_2.jpeg");
    }

    #background_3 {
      background-image: url("../images/twice_background_3.jpg");
    }

    #background_4 {
      background-image: url("../images/twice_background_4.jpg");
    }
  }
}

.contents_container {
  min-width: 700px;
  width: 100%;
  height: 1070px;
  background-color: #E0C5EF;
  // position: relative;

  div.youtube_header {
    // position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #E0C5EF;
    font-size: 35px;
    text-align: center;
    // transform: translate(-50%, -50%);

    span {
      margin: 0;
      padding: 0;
    }
  }

  ul.video_list {
    // float: left;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 90%;

    li.video_item {
      float: left;
      width: 50%;
      height: 340px;

      div.item_content {
        height: 25px;
        text-align: center;
        overflow: hidden;
        font-size: 14px;
        border: 2px solid white;
        box-sizing: border-box;
        background-color: #E0C5EF;

        a.item_title {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
